[submodule "reference_harnesses/mattpocock_skills"]
	path = reference_harnesses/mattpocock_skills
	url = https://github.com/mattpocock/skills.git
[submodule "reference_harnesses/superpowers"]
	path = reference_harnesses/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "reference_harnesses/claude-code-best-practice"]
	path = reference_harnesses/claude-code-best-practice
	url = https://github.com/shanraisshan/claude-code-best-practice.git
[submodule "reference_harnesses/agent-skills"]
	path = reference_harnesses/agent-skills
	url = https://github.com/addyosmani/agent-skills.git
[submodule "mvp-harness"]
	path = mvp-harness
	url = https://github.com/MVPavan/mvp-harness.git
